@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Lexend:wght@400;700&display=swap');

:root{
  --padding-container: 100px 0;
  --color-title: #ffffff;
  --color-bg: #1d0b80;
  --font-family-title: 'Inter', sans-serif;
  --font-weight-title: 800;
  --font-size-title: 3rem;
  --font-family-subtitle: 'Lexend', sans-serif;
  --font-weight-subtitle: 400;
  --font-size-subtitle: 1.3rem;
}

.container{
  width:min(90%,1200px);
  margin-inline: auto;
  padding-inline: 1.25rem;
  box-sizing: border-box;
  padding-inline: clamp(1rem, 4vw, 2rem);
}

body.acerca{
  background:var(--color-bg);
  color:var(--color-title);
}

.about-hero{
  width: 100%;
  height: 80vh;
  text-align:center;
  min-height: 600px;
  max-height: 800px;
  color: #ffffff;
}

.about-hero__title{
  margin: 5rem 0 2rem;
  font-size: var(--font-size-title);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
}

.about-hero__paragraph{
  text-align:justify;
  line-height: 1.7;
  margin:0 auto 1rem;
  font-family: var(--font-family-subtitle);
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-subtitle);
}

.acerca .cta{
  display: inline-block;
  background-color:#ff3ae6;
  justify-self: center;
  color: #1d0b80;
  text-decoration: none;
  padding: 13px 20px;
  margin-block: 1rem 4rem;
  margin-inline: 0;
  border-radius: 30px;
  transition:background-color .3s, transform .3s;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  width: fit-content;
  font-family: var(--font-family-subtitle);
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-subtitle);
}

.disciplinas{
  margin-top: 3rem;
  text-align: center;
  padding:0;
}

.disciplinas__title{
  color: var(--color-title);
  text-align:center;
  font-size: 3rem;
  margin-bottom:2rem;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
}

.disciplinas__paragraph{
  text-align:justify;
  line-height: 1.7;
  margin:0 auto 1rem;
  font-family: var(--font-family-subtitle);
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-subtitle);
}

.disciplinas__grid{
  padding-block: 2rem;
  margin-top: 2rem;
  display:grid;
  gap:1rem;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
}

.card{
  background:white;
  border-radius:15px;
  padding:1.5rem;
  text-align:center;
  color:#1d0b80;
  font-family: var(--font-family-subtitle);
  font-weight: var(--font-weight-subtitle);
  font-size: 1rem;
  transition:transform .3s;
}

.card:hover{
  transform:scale(1.05);
  box-shadow:
    0 4px 14px 0 rgba(0,0,0,.22),
    0 0 16px 4px rgba(75,220,229,.32);
}

.card img{
  width:180px;
  height:90px;
  object-fit:contain;
}
