@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #1d0b80;

    --color-accent-secondary: #4bdce5;
    --color-accent: #4cafbb;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* Nav */

header{
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
    transition: all .4s;
}


html:not([data-scroll='0']) header {
    background-image: linear-gradient(-90deg, var(--color-accent) 0%, var(--color-accent-secondary) 100%);
    font-size: 1.05rem;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: flex;
    gap: 2em;
}

.nav__items:hover{
    transform: scale(1.05);
}

.nav__items{
    list-style: none;
    transition: transform .3s;
}

.nav__links{
    color: white;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;

}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

/* Hero container */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100vw;
    color: white;
    padding-top: 140px;
    overflow: hidden;
}

.hero::before{
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100vw;
    height: calc(100vh + 100px);
    background-image: linear-gradient(180deg, #ffffff4b 0%, #ffffff4b 100%), url(../images/BrazoRobot.jpg);
    background-size: cover;
    z-index: -1;
    transform: scale(1.2) translateY(130px);

}

.hero div{
    margin-top: 2rem;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin: 30px 120px;
}

.cta{
    display: inline-block;
    background-color: var(--color-accent);
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
    transition: background-color .3s, transform .3s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: fit-content;
}
.cta:hover{
    background-color: var(--color-accent-secondary);
    transform: scale(1.05);
    color: white;
    text-decoration: none;
}

/* About */

.about {
    text-align: center;
}

.about__container {
    
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.subtitle {
    color: var(--color-title);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
    text-align: center;

}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.jump__animated {
    animation: jump 1s ease-in-out infinite;
}

.about__icons:nth-child(1) .jump__animated {
    animation-delay: 0s;
}

.about__icons:nth-child(2) .jump__animated {
    animation-delay: 0.3s;
}

.about__icons:nth-child(3) .jump__animated {
    animation-delay: 0.6s;
}

.about__icon {
    width: 40px;
    height: 40px;
}

/* Questions */

.questions {
    text-align: center;
}

.questions__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding {
    padding: 15px 20px;
    transition: padding .2s;
    border: #1d0b80 1px solid;
    border-radius: 100px;
}

.questions__padding--add {
    padding-bottom: 30px;
}

.questions__answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    display: flex;
    text-align: left;
    font-size: 25px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: #1d0b80;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    font-size: 20px;
    height: 0;
}

.questions__img{
    display: block;
}

/* Footer */
.footer {
    background-color: #1d0b80;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0;
}

.nav--footer {
    padding-bottom: 10px; 
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: min-content;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
    display: inline-flex;
}

.footer__img {
    width: 30px;
}
