@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #1d0b80;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 1000px;
    max-height: 1000px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #ffffff4b 0%, #ffffff4b 100%), url(../images/BrazoRobot.jpg);
    background-size: cover;
    z-index: -1;
}

/* Nav */

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: white;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;

}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

/* Hero container */

.hero__container{
    max-width: 1000px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 600px;
    text-align: left;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 0px;
}

.cta{
    display: inline-block;
    background-color: #1d0b80;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;

}

/* About */

.about {
    text-align: center;
}

.about__container {
    
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
    text-align: center;

}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;
    height: 40px;
}

/* Questions */

.questions {
    text-align: center;
}

.questions__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding {
    padding: 15px 20px;
    transition: padding .2s;
    border: #1d0b80 1px solid;
    border-radius: 100px;
}

.questions__padding--add {
    padding-bottom: 30px;
}

.questions__answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    display: flex;
    text-align: left;
    font-size: 25px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: #1d0b80;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    font-size: 20px;
    height: 0;
}

.questions__img{
    display: block;
}

/* Footer */
.footer {
    background-color: #1d0b80;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0;
}

.nav--footer {
    padding-bottom: 10px; 
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: min-content;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
    display: inline-flex;
}

.footer__img {
    width: 30px;
}
